# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
out/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.metadata
.loadpath
bin/
.settings/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

.vscode/
README.html

# Spring Academy Files
.mvn/
01-rewards-db/
10-spring-intro-solution/
12-javaconfig-dependency-injection-solution/
12-javaconfig-dependency-injection/
16-annotations-solution/
16-annotations/
22-aop-solution/
22-aop/
24-test-solution/
24-test/
26-jdbc-solution/
26-jdbc/
28-transactions-solution/
28-transactions/
30-jdbc-boot-solution/
32-jdbc-autoconfig-solution/
32-jdbc-autoconfig/
33-autoconfig-helloworld-solution/
33-autoconfig-helloworld/
34-spring-data-jpa-solution/
34-spring-data-jpa/
36-mvc-solution/
36-mvc/
38-rest-ws-solution/
38-rest-ws/
40-boot-test-solution/
40-boot-test/
42-security-rest-solution/
42-security-rest/
44-actuator-solution/
44-actuator/
mvnw
mvnw.cmd
pom.xml
